.header {
  background-color: transparent;
  box-shadow: none;
}
.header.active {
  background-color: white;
}
.header .itemMenu .itemMenu-list .itemMenu-item > a {
  color: white;
}
.header .itemMenu .itemMenu-list .itemMenu-item > a i {
  color: white;
}
.header .btn-search {
  color: white;
}
.header .cart a {
  color: white;
}
.header .itemLogo .logo {
  display: none;
}
.header.active .itemLogo .logo-white {
  display: none;
}
.header.active .itemLogo .logo {
  display: block;
}
.header.active .itemMenu .itemMenu-list .itemMenu-item > a {
  color: black;
}
.header.active .itemMenu .itemMenu-list .itemMenu-item > a i {
  color: rgb(155, 155, 155);
}
.header.active .btn-search {
  color: black;
}
.header.active .cart a {
  color: black;
}
.banner-page {
  background-image: url(../img/aboutus-page/inner-page-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 300px;
  position: relative;
  overflow: hidden;
  z-index: -1;
  background-attachment: fixed;
}
.banner-page::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.527);
  z-index: -1;
}
.banner-page .banner-shape {
  position: absolute;
  background-image: url(../img/aboutus-page/header-frame.png);
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 300px;
  bottom: -20px;
  left: 5;
  z-index: 1;
}
.banner-page .title {
  z-index: 1;
}
.banner-page .title h1 {
  font-size: 85px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.banner-page .title .breadcrumb {
  margin-top: 40px;
}
.banner-page .title .breadcrumb li {
  color: white;
}
.session-about {
  background-image: url(../img/aboutus-page/ss-about/map-1.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.session-about .main-title {
  text-align: center;
}
.session-about .session-about-content {
  margin-top: 50px;
}
.session-about .session-about-text {
  padding-right: 50px;
}
.session-about .session-about-content .session-about-text h4 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.session-about .session-about-text p {
  margin-top: 20px;
  font-size: 16px;
  color: #464646;
}
.session-about .session-about-text li {
  list-style-type: decimal;
  display: block;
  color: #464646;
  margin-top: 8px;
  cursor: auto;
}
.session-about .session-about-text li i {
  margin-right: 10px;
  font-size: 14px;
}
.session-about .about-img img {
  border-radius: 20px;
  overflow: hidden;
}
.session-top-place {
  background-image: url(../img/aboutus-page/map-2.png);
  background-position: right;
  margin-top: 100px;
}
.session-top-place .top-place {
  margin-top: 50px;
}
.people-guide {
  margin-top: 100px;
}
