.bcrumb ul.breadcrumb {
  padding: 5px 0;
  list-style: none;
  margin: auto;
  justify-content: center;
}
.bcrumb ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.bcrumb ul.breadcrumb li + li:before {
  padding: 8px;
  content: ">";
  color: white;
  cursor: pointer;
}
.bcrumb ul.breadcrumb li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.bcrumb ul.breadcrumb li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
